.DS_Store
.ipynb_checkpoints
.vscode
submission.csv
hotdog
pikachu
VOCdevkit
data/kaggle_cifar10/train_tiny
data/kaggle_cifar10/test_tiny
data/VOCtrainval_11-May-2012.tar
data/kaggle_cifar10/trainLabels.csv

